body {
    background: rgb(102, 118, 154);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
}
.ah{
    width: 150px;
}